.main {
    min-height: 100vh;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.eachVaso {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5px;
    width: 250px;
    margin: 5px;
    box-shadow: 1px 1px 5px black;
    cursor: pointer;
    border-radius: 5px;
}
.eachVaso img {
    height: 230px;
}
.eachVaso h3 {

}

.vasoInfo {
    position: absolute;
    height: 900px;
    width: 1200px;
    background: linear-gradient(rgb(212, 212, 120), rgb(255, 255, 255));
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 1px 1px 5px black;
}
.topArea {
    width: 100%;
    display: flex;
    justify-content: right;
}
.close {
    background-color: black;
    color: red;
    font-weight: bold;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 10px;
}
.close:hover {
    background-color: rgb(61, 61, 61);
}

.content {
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.content .img {
    height: 400px;
    width: 400px;
    margin: 10px;
    background-size: 100%;
    background-position: center;
}
.price {
    font-weight: bold;
    font-size: 25px;
}
.infosArea {
    width: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.infos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
    border-left: 1px solid rgb(145, 145, 145);
    border-right: 1px solid rgb(145, 145, 145);
}

.tamanho {
    font-weight: bold;
}

.vasosList {
    width: 90%;
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.titleNormal {
    font-size: 13px;
}

.imgProd {
    height: 200px;
    width: 200px;
    background-size: 100%;
    background-position: center;
}

@media (max-width: 500px) {
    .content {
    }
    .vasoInfo {
        width: 90%;
    }
    .content .img {
        height: 350px;
        width: 90%;
    }
    .infosArea {
        width: 90%;
    }
    .price {
        font-weight: bold;
        font-size: 16px;
    }
}