.main {
    min-height: 10vh;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.inputArea {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}
.input {
    height: 30px;
    width: 250px;
    padding: 5px;
    margin-left: 10px;
    border: none;
    box-shadow: 1px 1px 5px black;
    border-radius: 4px;
    border: 1px solid black;
}
.eachVaso {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5px;
    width: 250px;
    margin: 5px;
    box-shadow: 1px 1px 5px black;
    cursor: pointer;
    border-radius: 5px;
}
.eachVaso img {
    height: 230px;
}
.eachVaso h3 {
    margin: 5px;
    text-align: center;
}

.vasoInfo {
    position: fixed;
    height: 700px;
    width: 1200px;
    background: linear-gradient(rgb(212, 212, 120), rgb(255, 255, 255));
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 1px 1px 5px black;
    top: 100px;
}
.topArea {
    width: 100%;
    display: flex;
    justify-content: right;
}
.close {
    background-color: black;
    color: red;
    font-weight: bold;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 10px;
}
.close:hover {
    background-color: rgb(61, 61, 61);
}
.content {
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.content .img {
    height: 400px;
    width: 400px;
    margin: 10px;
    background-size: 100%;
    background-position: center;
}
.price {
    font-weight: bold;
    font-size: 18px;
}
.span {
    font-size: 14px;
}
.infosArea {
    width: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: -10px;
}
.infos {
    display: flex;

    justify-content: center;
    align-items: center;
    width: 315px;
    height: 45px;
    border-left: 1px solid rgb(145, 145, 145);
    border-right: 1px solid rgb(145, 145, 145);
    padding: 2px;
    border-bottom: 1px solid rgb(92, 92, 92);
    box-shadow: 1px 1px 3px rgb(92, 92, 92);
}

.tamanho {
    font-weight: bold;
    font-size: 16px;
}

.vasosList {
    width: 90%;
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.titleNormal {
    font-size: 12px;
}

.imgProd {
    height: 200px;
    width: 200px;
    background-size: 100%;
    background-position: center;
}

.infosItens {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
}

.upButton {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 20px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: rgb(32, 196, 32);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

@media (max-width: 500px) {
    .content {
    }
    .vasoInfo {
        width: 90%;
    }
    .content .img {
        height: 350px;
        width: 90%;
    }
    .infosArea {
        width: 90%;
    }
    .price {
        font-weight: bold;
        font-size: 17px;
    }
    .infos {
        height: 40px;
        width: 100%;
    }
    .span {
        font-size: 14px;
    }
}